/*
Theme Name: My Theme
Author: Georgij
Description: This is my theme.
Version: 1.0
Requires at least: 6.0
Tested up to: 6.0
Requires PHP: 7.4
Text Domain: mytheme
*/

header {
    background: lightblue;
}

footer {
    background: lightpink;
}

.page-content {
    background: lightgoldenrodyellow;
}

#nasha-sekcija {
    background: lightcoral;
}

.about-us-marker {
    display: block;
    width: 100%;
    height: 100px;
    background: red;
}

.post-content {
    padding: 40px;
    background: lightgrey;
}

.read-more {
    background: pink;
}


.carousel-control-next, .carousel-control-prev {
    background: red !important;
}

.wp-post-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}